include  ../../admin/index
// Content Wrapper. Contains page content
.content-wrapper
    // Content Header (Page header)
    section.content-header
        h1
            | Data Dosen
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Home
            li
                a(href='#') Tables
            li.active Data tables
    // Main content
    section.content
        .row
            .col-xs-12
                // /.box-body
                // /.box
                .box
                    .box-body
                        .box.box-info
                            .box-header.with-border
                                h3.box-title Input data Dosen
                            // /.box-header
                            // form start
                            form.form-horizontal(method="POST", action='/'+dosenn._id + '/editdosen')
                                .box-body
                                    .form-group
                                        label.col-sm-2.control-label(for='kodedosen') NPM
                                        .col-sm-10
                                            input#kodedosen.form-control(type='text' name="kodedosen" placeholder='NPM' value= (kodedosen == undefined) ? dosenn.kodedosen: kodedosen)
                                    .form-group
                                        label.col-sm-2.control-label(for='namadosen') Nama Dosen
                                        .col-sm-10
                                            input#namadosen.form-control(type='text' name="namadosen" placeholder='Nama Dosen' value= (namadosen == undefined) ? dosenn.namadosen: namadosen)
                                    .form-group
                                        label.col-sm-2.control-label(for='telephone') Telephone
                                        .col-sm-10
                                            input#telephone.form-control(type='text' name="telephone" placeholder='telephone' value= (telephone == undefined) ? dosenn.telephone: telephone)
                                    .form-group
                                        label.col-sm-2.control-label(for='email') Email
                                        .col-sm-10
                                            input#email.form-control(type='text' name="email" placeholder='email' value= (email == undefined) ? dosenn.email: email)
                                    .form-group
                                        label.col-sm-2.control-label(for='agama') Agama
                                        .col-sm-10
                                            input#agama.form-control(type='text' name="agama" placeholder='agama' value= (agama == undefined) ? dosenn.agama: agama)
                                    .form-group
                                        label.col-sm-2.control-label(for='pendidikan') Pendidikan
                                        .col-sm-10
                                            input#pendidikan.form-control(type='text' name="pendidikan" placeholder='pendidikan' value= (pendidikan == undefined) ? dosenn.pendidikan : pendidikan)
                                    .form-group
                                        label.col-sm-2.control-label(for='matkul') Matkul
                                        .col-sm-10
                                            input#matkul.form-control(type='text' name="matkul" placeholder=' matkul' value= (matkul == undefined) ? dosenn.matkul : matkul)


                                // /.box-body
                                .box-footer
                                    button.btn.btn-info.pull-right(type='submit') Input Data
                                // /.box-footer
